.yes {
    background: url("../videos/yes.m4v");
    background-size: cover;
}

video {
    aspect-ratio: 16 / 9;
}

video:-moz-loading {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    background-color: black;
}

video::before {
    display: block;
    content: '';
    padding-top: calc(100% * 2 / 3);
}